extends ../shared/template
block content
  .row
    .col-xs-12
      h2.text-center Let's talk.
      .col-xs-2
      .col-xs-8
        p That is our most modestly priced receptacle. Sapien, ut ultricies 
        | ipsum morbi eget risus nulla nullam vel nisi enim, vel. And Hill 364.
        | These young men gave their lives. And Donny too. Donny who… who loved
        | bowling. Auctor ante morbi id urna vel felis lacinia placerat vestibulum
        | turpis nulla. I got information—new shit has come to light and—shit, man!
        | She kidnapped herself! Viverra nec volutpat ac, ornare id lectus.
        | hereismyemail@gmail.com
      .col-xs-2
block scripts
  script(src='/js/user/home.js')
